@font-face {
    font-family: 'Marauders Map';
    src: url('./MaraudersMap.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.guess-log {
    background-color: rgba(255, 248, 220, 0.8);
    border: 1px solid #a47148;
    padding: 16px;
    margin-top: 20px;
    font-family: 'Marauders Map', serif;
    color: #4b2e2e;
    border-radius: 8px;
  }
  
  .name-cell {
    background-color: #8B5E3C;
  }